<!DOCTYPE html>
<html lang="en">
<head>
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7ieJ6y9YqD1m+XcFyqG9Jqf1z8bZtY8hFq1uP6W1WJjK+v+2U1L8x/aJQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Baby Monitor - {% block title %}{% endblock title %}</title>
</head>
<body>
<h1>Baby Monitor</h1>
<section>
  <header>
    {% block header %}{% endblock header %}
  </header>
  <main>
    {% block content %}<p>No messages.</p>{% endblock content %}
  </main>
</section>
</body>
</html>