<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- For chrome in android to report real screen width -->
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">
  <title>Baby Monitor - {% block title %}{% endblock title %}</title>
</head>
<body>
<h1>Baby Monitor</h1>
<section>
  <header>
    {% block header %}{% endblock header %}
  </header>
  <main>
    {% block content %}<p>No messages.</p>{% endblock content %}
  </main>
</section>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="{{ url_for('static', filename='js/loudness.js') }}"></script>
</body>
</html>